 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
 
 /** Header **/
 
 .my_header {
    background-color: #388e3c;
    font-family: 'Poppins', sans-serif;
}

nav .title {
    padding-left: 20px;
}


.my_header a:hover {
    color: #f57c00;
}

/** Hero Image **/

.main_image {
background-image: url("../images/background1.jpg"); 
  background-color: #f57c00; 
  height: 500px;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  align-content: center;
  position: relative;
}

.text {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    max-height: 400px;
    background-color: rgba(56, 142, 60, 0.6);
    align-content: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text h1, h4 {
    color: #ffffff;
    text-align: center;
}

.text h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 440%;
    letter-spacing: 7px;
}

/** Footer **/
footer {
    background-color: #388e3c;
    line-height: 50px;
    
}

.footer_text {
    color: #ffffff; 
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 5px;
}

/** Main Page Category Select Area **/
.category_title h3 {
    font-weight: bold;
    padding-top: 3em;
    padding-left: 20px;
    
}

.left_category_title{
    text-align: right;
}
.select1 {
    padding-left: 20px;
}

.category_picture {
    overflow: hidden;
    padding: 0;
    margin: 0;
    align-content: right;
    
}

.category_picture img {
    padding: 0;
    display:  flex;
}

.category_row {
    margin-top: 2em;
}

/** Form **/

#add_recipe_title{
    color: #f57c00;
    text-align: center;
}

.add_recipe_form label {
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

/** Buttons **/

.form_buttons {
    background-color: #f57c00;
}

.form_buttons:hover {
    background-color: #bb4d00;
}

/** Search Results **/

.recipe_title h4 {
      color: #f57c00;
}

/** Edit Page **/
#edit_title {
    color: #f57c00;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

/** Submission Page **/
.submission {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
}