 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap');
 /** Header **/
 .my_header {
    background-color: #388e3c;
    font-family: 'Poppins', sans-serif;
}

nav .title {
    padding-left: 20px;
}

.my_header i {
    padding: 0;
    margin-right: 2px;
}



/** Footer **/
footer {
    background-color: #388e3c;
    line-height: 50px;
    
}

.footer_text {
    color: #ffffff; 
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 5px;

}