{% extends 'base.html' %}
{% block content %}

<h3 id="add_recipe_title">Add a New recipe</h3>
<!--Form -->
<div class="row">
    <form action="{{url_for('insert_recipe')}}" method="POST" class="col s12 add_recipe_form">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" name="title" type="text" class="validate" required>
          <label for="title">Recipe Title:</label>
        </div>
      </div>
        <div class="row">
        <div class="input-field col s12">
          <input id="ingredients" name="ingredients" type="text" class="validate" required>
          <label for="ingredients">Ingredients:</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="method" name="method" type="text" class="validate" required>
          <label for="method">Method:</label>
        </div>
      </div>
      <div class="row">
         <div class="input-field">
                            <select id="required_tools" name="required_tools" class="select1" multiple>
                            <option value="" disabled selected>Choose all that apply</option>
                                {% for tool in required_tools %}
                                    <option value="{{tool.name}}">{{tool.name}}</option>
                               {% endfor %}
                            </select>
                            <label>Required Tools:</label>
                        </div>
      </div>
    <div class="row">
        <div class="input-field col s6">
          <input id="source" name="source" type="text" class="validate">
          <label for="source">Source:</label>
        </div>
       
        <div class="input-field col s12">
          <input id="cooking_time" name="cooking_time" type="text" class="validate">
          <label for="cooking_time">Cooking Time:</label>
        </div>
        <div class="row">
        <div class="file-field input-field">
            <div class="btn form_buttons">
                <span>Upload an image: </span>
                <input type="file">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
            </div>
    </div>
    </div>
    <div class="row">
        <div class="input-field">
            <select class="select1" id="category" name="category" multiple required>
                <option value="" disabled selected>Choose all that apply:</option>
                {% for category in categories %}
                     <option value="{{category.title}}">{{category.title}}</option>
                {% endfor %}
            </select>
            <label>Category</label>
        </div>
         <div class="input-field">
                            <select class="select1" id="sub_category" name="sub_category" required>
                            <option value="" disabled selected>Choose most suitable option: </option>
                                {% for sub_category in sub_categories %}
                                    <option value="{{sub_category.title}}">{{sub_category.title}}</option>
                               {% endfor %}
                            </select>
                            <label>Main Ingredient:</label>
                        </div>
    </div>
    <div class="row"></div>
    <div class="row">
    <button class="btn waves-effect waves-light form_buttons " id="add_button" type="submit" name="action">Add
    <i class="material-icons right">send</i>
  </button>
  </div>
    </form>
  </div>

{% endblock %}