<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>
<body>
    <header>
          <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Recipe Box</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{url_for('index')}}"><i class="material-icons left">home</i>Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}"><i class="material-icons left">add_box</i>Add Recipe</a></li>
                    <li><a href="{{url_for('more_information')}}"><i class="material-icons left">info</i>More Information/a></li>
                </ul>
            </div>
        </nav>
    </header>
     <div class="container">
     <h1>Testing</h1>
    {% block content%}
    {% endblock %}
    </div>
    <footer>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>