<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>
<body>
    <header>
<nav >
            <div class="nav-wrapper my_header">
                <a href="{{url_for('main_page')}}" class="brand-logo title">Recipe Box</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('main_page')}}"><i class="material-icons left header_icons">home</i>Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}"><i class="material-icons left">add_box</i>Add Recipe</a></li>
                    <li><a href=""><i class="material-icons left">info</i>More Information</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('main_page')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="">More Information</a></li>
                </ul>
            </div>
        </nav>

        <div class="col s12 main_image ">
        <div class="row">
            <img src="https://static01.nyt.com/images/2020/03/03/well/physed-foods/physed-foods-mediumSquareAt3X.jpg" alt="Brunch overhead">
        </div>
        </div>
    </header>
     <div class="container">
    {% block content%}
    {% endblock %}
    </div>
    <footer>
        <div>
          <div class="footer_text"><h6>&copy; <script>document.write(new Date().getFullYear())</script></h6>
          <h6>Eat Local Recipes</h6></div>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();
            $('select').formSelect();
        });
    </script>
</body>
</html>