{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid" id="edit_title">
    <h1>Edit</h1>
    </div>
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
            <div class="row">
            <div class="col-md-6">
            <div class="form-group">
            <label for="title">Recipe Title:</label>
                <input id="title" name="title" type="text" class="validate" value="{{recipe.title}}">
            </div>
            </div>
            <div class="col-md-6">
        <div class="form-group">
        <label for="ingredients">Ingredients:</label>
          <input id="ingredients" name="ingredients" type="text" class="validate" value="{{recipe.ingredients}}">
        </div>
        </div>
        
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-gorup">
                    <label for="method">Method:</label>
                    <textarea id="method" name="method" type="text" class="validate" value="{{recipe.method}}"></textarea>
          
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Required Tools:</label>
                    <select id="required_tools" name="required_tools" class="select1" multiple value="{{recipe.required_tools}}">
                    <option value="" disabled selected>Choose all that apply</option>
                    {% for tool in required_tools %}
                        <option value="{{tool.name}}">{{tool.name}}</option>     
                    {% endfor %}
                    </select>      
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-md-6">
        <div class="form-group">
        <label for="source">Source:</label>
          <input id="source" name="source" type="text" class="validate" value="{{recipe.source}}">
          
        </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="cooking_time">Cooking Time:</label>
                <input id="cooking_time" name="cooking_time" type="text" class="validate" value="{{recipe.cooking_time}}">
            </div>
        </div>
        </div>
        <div class="row">
        <div class="form-group">
        <label>Category</label>
            <select class="select1" id="category" name="category" multiple value="{{recipe.category}}">
                <option value="" disabled selected>Choose all that apply:</option>
                {% for category in categories %}
                     <option value="{{category.title}}">{{category.title}}</option>
                {% endfor %}
            </select>
            
        </div>
         <div class="form-group">
         <label>Main Ingredient:</label>
                            <select class="select1" id="sub_category" name="sub_category" value="{{recipe.sub_category}}">
                            <option value="{{recipe.sub_category}}" disabled selected>Choose most suitable option: </option>
                                {% for sub_category in sub_categories %}
                                    <option value="{{sub_category.title}}">{{sub_category.title}}</option>
                               {% endfor %}
                            </select>
                        </div>
                        </div>
<div class="row">
 <button class="btn waves-effect waves-light form_buttons" type="submit" name="action">Update
  </button>
  </div>
    </form>
    <form action="{{url_for('search_results')}}">
    <button class="btn waves-effect waves-light form_buttons" type="submit" action="{{url_for('search_results')}}">Cancel
  </button>
  </form>
{% endblock %}