{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <ul>
    <!-- Example single danger button -->
    
<div class="btn-group">
<form  name="input" action="{{url_for('search_results')}}" method="GET">
<!-- Main Button Category-->
<div class="form-group">
    <label for="selected_category">Select a category:</label>
    <select class="form-control" name="selected_category" id="selected_category">
        {% for category in categories %}
            <option value="{{category.title}}">{{category.title}}</option>
        {% endfor %}
    </select>
  </div>
  <!-- Secondary Button Sub-Category-->
  <div class="form-group">
    <label for="selected_sub_category">Select a Main Ingredient</label>
    <select class="form-control" name="selected_category" id="selected_sub_category">
        {% for sub_category in sub_categories %}
            <option id="selected_sub_category" value="{{sub_category.title}}">{{sub_category.title}}</option>
        {% endfor %}
    </select>
  </div>
  <button class="btn waves-effect waves-light form_buttons" type="submit">Go
  </button>
</form>

{% endblock %}