{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
    <ul>
     <form action="{{url_for('search_results')}}" methods="GET" class="">
                                <div class="input-field">
                                    <select  name="selected_category" class="select1">
                                        <option value="" disabled selected>Choose your option</option>
                                        
                                        {% for category in categories %}
                                            <option value="{{category.title}}" id="selected_category">{{category.title}}</option>
                                        {% endfor %}
                    
                                    </select>
  </div>
                                <div class="input-field">
                                    <select  name="selected_sub_category" class="select1">
                                        <option value="" disabled selected>Choose your option</option>
                                        
                                        {% for sub_category in sub_categories %}
                                            <option value="{{sub_category.title}}" id="selected_sub_category">{{sub_category.title}}</option>
                                        {% endfor %}
                                    </select>
                                <button  class="btn waves-effect waves-light form_buttons " type="submit" id="add_button" >Go!
    <i class="material-icons right">send</i>
  </button>
  </div>
                            </form>
    </ul>
</div>
{% endblock %}